*{ 
    padding: 0; 
    margin: 0; 
  }
body{
    background-color:rgb(212, 212, 225);
}
nav{
    height:80px;
    width:100%;
    color:white;
    background-color:rgb(41, 18, 1);
    text-align: centre;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:90%;
    position: relative;
    margin:auto;
    margin-top: 50px;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
.items_description{
    display: grid;
    grid-template-rows: 1fr 8fr;
    background-color: rgb(184, 132, 95);
    padding:20px;
    border-radius: 5px;
}

.item_detail{
    display:flex;
    flex-direction:column;
    /* width:100%; */

}
.customer_detail{
    display : grid;
    grid-row-gap: 10px;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: auto;
}
.customer_name{
    background-color: rgb(184, 132, 95);
    border-radius: 5px;
    padding: 20px;
}
.customer_card_detail{
    background-color: rgb(184, 132, 95);
    border-radius:5px;
    padding:20px;
}

.item_property{
    display: flex;
    border-bottom: 1px solid black;
    padding-left:0%;
    padding-top:20px;
    padding-bottom: 20px;
}

.input-field{
    width:90%;
    border-radius:100px;
    background-color:rgb(184, 132, 95);
    padding: 8px;
    margin-right: 2.5%;
    border-color: rgb(75, 23, 23);
}
.input-config{
    border:none;
    height:20px;
    width:90%;
    background-color: rgb(184, 132, 95);
}
.input-field1{
    width:40%;
    border-radius:40px;
    background-color:rgb(184, 132, 95);
    padding: 8px;
    /* margin-right: 5%; */
    border-color: rgb(75, 23, 23);
}
.input-border-bottom{
    margin-top:10px;
}
.item_grow{
    flex: 1;
    margin-left: 10%;
}
.submit-data{
    width:90%;
    height:40px;
    background-color:rgb(184, 132, 95);
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.table-style{
    display:flex;
    bottom: 10px;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0%;
    bottom: 0%;

}
table{
    width: 40%;
}

td{
    text-align: left;
    padding: 8px;
}
.style_item{
    font-size: 15px;
}
.left_align{
    padding-left: 20px;
}
input:focus{
    outline: none;
}
.item_property:last-child{
    border:none;
}
.item_amount{
    margin-right: 5%;
    font-weight: bold;
}
.final_amount{
    font-weight: bold;
}